# General
set relativenumber
set number
set scrolloff=10
set ignorecase
set smartcase
set incsearch

let mapleader = " "

# IdeaVim Specific
set ideastatusicon=gray
set ideajoin
nnoremap <leader>r :IdeaVim.ReloadVimRc.reload<CR>

# Plugins
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'vim-easymotion'

# Mappings
## Files
nmap <leader>o <Action>(GotoFile)
nmap <leader>e <Action>(RecentFiles)
nmap <leader><leader>e :NERDTree<CR>
nmap <leader><leader>E :NERDTreeClose<CR>

## Terminal
nmap <leader>t <Action>(ActivateTerminalToolWindow)

## Tab Groups
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
nnoremap <c-q> :action CloseContent<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <TAB> :action NextTab<CR>
nnoremap <s-TAB> :action PreviousTab<CR>

nnoremap <leader>qa :action CloseAllEditors<CR>
nnoremap <leader>qo :action CloseAllEditorsButActive<CR>

## Editor
nmap <leader>h <Action>(ShowErrorDescription)
nmap <leader>r <Action>(RenameElement)
nmap <leader>f <Action>(ReformatCode)
nmap <leader>p <Action>($LRU)
nmap <leader>s <Action>(SaveAll)
nmap =c <Action>(VcsShowCurrentChangeMarker)
nmap <leader>v <Action>(Vcs.QuickListPopupAction)
nmap <leader>x <Action>(HideAllWindows)
nnoremap <leader>a :action Refactorings.QuickListPopupAction<CR>
nmap <leader>m <Action>(ShowIntentionActions)

## Editor Size
nmap <leader><leader>h <Action>(ResizeToolWindowLeft)

## Navigation
nmap ]e :action GotoNextError<CR>
nmap [e :action GotoPreviousError<CR>
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)

if &ide =~? 'Android Studio'
    nmap <leader><leader>l <Action>(Flutter.Toolbar.ReloadAllAction)
    nmap <leader><leader>s <Action>(Flutter.Toolbar.RestartAllAction)
endif
