# General
set relativenumber
set number
set scrolloff=5
set ignorecase
set smartcase
set incsearch
# set showcmd

# IdeaVim Specific
set ideastatusicon=gray
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

# Plugins
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'vim-easymotion'

# Mappings
## Files
nmap <leader>o <Action>(GotoFile)
nmap <leader>e <Action>(RecentFiles)
nmap <leader><leader>e :NERDTree<CR>
nmap <leader><leader>q :NERDTreeClose<CR>

## Terminal
nmap <leader>t <Action>(ActivateTerminalToolWindow)

## Tab Groups
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <TAB> :action NextTab<CR>
nnoremap <s-TAB> :action PreviousTab<CR>

nnoremap <leader>qq :action CloseContent<CR>
nnoremap <leader>qa :action CloseAllEditors<CR>
nnoremap <leader>qo :action CloseAllEditorsButActive<CR>

## Editor
nmap gh <Action>(ShowErrorDescription)
nmap gr <Action>(RenameElement)
nmap gf <Action>(ReformatCode)
nmap =c <Action>(VcsShowCurrentChangeMarker)
nmap <leader>v <Action>(Vcs.QuickListPopupAction)
nmap <leader>x <Action>(HideAllWindows)
nnoremap <leader>a :action Refactorings.QuickListPopupAction<CR>

## Navigation
nmap ge :action GotoNextError<CR>
nmap gE :action GotoPreviousError<CR>
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)
